[phases.setup]
nixPkgs = ["dotnet-sdk_9_0"]

[phases.build]
cmds = [
  "rm -f *.sln",
  "dotnet clean BookApi.csproj || true",
  "rm -rf obj bin .nuget",
  "dotnet restore BookApi.csproj --force --no-cache",
  "dotnet publish BookApi.csproj -c Release -o out /p:UseAppHost=false"
]

[start]
cmd = "cd out && dotnet BookApi.dll"
