[phases.setup]
nixPkgs = ["dotnet-sdk_9"]

[phases.install]
cmds = ["dotnet nuget locals all --clear"]

[phases.build]
cmds = [
  "dotnet restore BookApi.csproj --disable-parallel",
  "dotnet build BookApi.csproj -c Release --no-restore",
  "dotnet publish BookApi.csproj -c Release -o out --no-build"
]

[start]
cmd = "cd out && dotnet BookApi.dll"
